<section class="section section_type">
  <h1>Add type</h1>
  <form
    class="form form_type"
    (ngSubmit)="authService.isAdmin() ? onSubmit() : onCreateNewRequest()"
  >
    <label for="typename">Type name: </label>
    <input
      type="text"
      id="typename"
      name="typename"
      [(ngModel)]="enteredTypename"
      required
    />
    <br />
    <label for="typeAvatar">Upload image: </label>
    <input
      type="file"
      id="typeAvatar"
      name="typeAvatar"
      [(ngModel)]="enteredTypeAvatar"
      required
    />
    <br />
    <label for="description">Description: </label>
    <textarea
      name="description"
      id="description"
      [(ngModel)]="enteredDescription"
      required
    >
    </textarea>
    <br />
    @if (!(authService.isAdmin() && responseMode() === false)) {
    <label for="request">Request: </label>
    <textarea
      name="request"
      id="request"
      [(ngModel)]="enteredRequest"
      required
      maxlength="100"
    >
    </textarea>
    } @if (authService.isAdmin() && responseMode()) {
    <label for="response">Response: </label>
    <textarea
      name="response"
      id="response"
      [(ngModel)]="enteredResponse"
      required
      maxlength="100"
    >
    </textarea>
    }
    <br />
    <input
      type="submit"
      [value]="
        authService.isAdmin()
          ? isFilledParams()
            ? 'Patch the type'
            : responseMode()
            ? 'Answer'
            : 'Add new type'
          : 'Send new request'
      "
    />
  </form>
</section>
