<section class="section section_userList">
  <h1>User List</h1>
  <form>
    <label for="usernameList">username</label>
    <input type="text" id="usernameList" name="usernameList" />
    <input type="submit" value="Search" />
    <input type="reset" value="Reset" />
  </form>
  @if (isFetching()) {
  <p>Loading users... ⏳</p>
  } @else {
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (item of allUsersData(); track $index) {
      <tr>
        <td>{{ item.user_id }}</td>
        <td>{{ item.role }}</td>
        <td><button (click)="deleteUserHandler(item.id)">Delete</button></td>
      </tr>
      }
    </tbody>
  </table>
  }
</section>
