<section class="section section_registration">
  <h1>Registration</h1>
  <form
    class="form form_registration"
    (ngSubmit)="registrationHandler()"
    #registrationForm="ngForm"
  >
    <label for="username">username: </label>
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="username"
      required
    />
    <br />
    <label for="password">password: </label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
    />
    <br />
    <label for="password_repeat">repeat the password: </label>
    <input
      type="password"
      id="password_repeat"
      name="password_repeat"
      [(ngModel)]="password_repeat"
      required
    />
    <br />
    <input type="submit" value="Registration!" />
  </form>
</section>
